#courseCards{
   background: white;
}
.courseCards h2{
    font-size: 40px;
    text-align: center;
    font-weight: 400;
}
.course-cards{
    display: flex;
    gap: 2pc;
    margin-left: 9pc;
}
.intensiv-card{
    width: 380px;
    height: 450px;
    background: #F7F7F7;
    border-radius: 40px;
}
.intensiv-card-top{
    display: flex;
}
.intensiv-card-top h3{
    padding-top: 20px;
    padding-left: 1pc;
}
.intensiv-card-top button{
    width: 129px;
    height: 29px;
    background: #61ABA7;
    border-radius: 31px;
    margin-top: 35px;
    margin-left: 8pc;
}
.intensiv-card p{
    width: 233px;
    height: 92px;
    margin-left: 1pc;
    font-size: 12px;
}
.intensiv-card-bottom{
    display: flex;
}
.intensiv-card-bottom button{
    width: 167px;
    height: 39px;
    background: #73C0BD;
    border-radius: 29px;
    margin-left: 1pc;
    transform: translate(0,-1.4pc);
}
.intensiv-card-bottom h5{
    transform: translate(2pc, -2.4pc);
}
.odatiy-card{
    width: 380px;
    height: 450px;
    background: #F7F7F7;
    border-radius: 40px;
}
.odatiy-card-top{
    display: flex;
}
.odatiy-card-top h3{
    padding-left: 1pc;
}
.odatiy-card-top button{
    width: 129px;
    height: 29px;
    background: #61ABA7;
    border-radius: 31px;
    margin-top: 15px;
    margin-left: 8pc;
}
.odatiy-card p{
    width: 186px;
    height: 69px;
    margin-left: 1pc;
    font-size: 12px;
}
.odatiy-card-bottom{
    display: flex;
}
.odatiy-card-bottom button{
    width: 167px;
    height: 39px;
    background: #73C0BD;
    border-radius: 29px;
    margin-left: 1pc;
}
.odatiy-card-bottom h5{
    transform: translate(2pc, -1pc);
}
.individual-card{
    width: 380px;
    height: 450px;
    background:#F7F7F7 ;
    border-radius: 40px;
}
.individual-card-top{
    display: flex;
}
.individual-card-top h3{
    margin-left: 1pc;
}
.individual-card-top button{
    width: 129px;
    height: 29px;
    background: #61ABA7;
    border-radius: 31px;
    margin-top: 15px;
    margin-left: 7pc;
}
.individual-card p{
   width: 247px;
   height: 115px;
   margin-left: 1pc;
   font-size: 12px;
}
.individual-card-bottom{
    display: flex;
}
.individual-card-bottom button{
    width: 167px;
    height: 39px;
    background: #73C0BD;
    border-radius: 29px;
    margin-left: 1pc;
    transform: translate(0, -2.9pc);
}
.individual-card-bottom h5{
    transform: translate(2pc, -4pc);
}

