* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Garant-cont h1 {
    width: 630px;
    height: 88px;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 36px;
}

.centr {
    margin-left: 180px;
}

.GKS {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.GKS img {
    margin-left: 30px;
}

.garant {
    margin-top: 80px;
}

.garant h4 {
    margin-bottom: 20px;
    font-size: 24px;
}

.GKS-cont h4 {
    margin-bottom: 20px;
    font-size: 24px;
}

.garant p {
    width: 600px;
    font-size: 18px;
}

.GKS-cont p {
    width: 600px;
    font-size: 18px;
}
.video img{
    width: 1200px;
    height: 587px;
    margin-top: 30px;
    margin-left: 32px;
}
.color-cont{
   color:#ABDDB1 ;
}
.color-cont-item{
    color: #73C0BD;
}