* {
    margin: 0;
    padding: 0;
}

.nav-list {
    margin-top: 50px;
    margin-left: 80px;
    display: flex;
    gap: 30px;
}

.nav-list h2 {
    width: 129px;
    height: 45px;
    font-weight: 100;
    margin-top: -15px;
    color: #000000;
}

.nav-list h3 {
    margin-left: 60px;
    font-weight: 100;
}

.nav-list-mk h2 {
    margin-left: 1358px;
    margin-top: -115px;
    font-weight: 100;
}

.nav-list-mk h3 {
    margin-top: 10px;
    margin-left: 1358px;
    font-weight: 200;
}

.hero h2 {
    margin-top: 200px;
    margin-left: 130px;
    font-weight: 200;
}

.hero h3 {
    width: 805px;
    height: 198px;
    margin-top: 60px;
    margin-left: 150px;
    font-size: 40px;
    font-weight: 200;
}

.hero-list img {
    margin-top: 50px;
    margin-left: 130px;
}

.hero-list h2 {
    width: 246px;
    height: 66px;
    font-weight: 200;
    margin-top: -55px;
    margin-left: 200px;
}

.hero-logo-nj img {
    margin-left: 540px;
    margin-top: -56px;
    display: flex;
}

.hero-logo-nj h2 {
    width: 246px;
    height: 66px;
    font-weight: 200;
    margin-top: -55px;
    margin-left: 600px;
}
.hero-comid img{
    margin-top: 130px;
    margin-left: 130px;
}
.hero-comid h2 {
     margin-top: 40px;
    margin-left: 160px;
    font-weight: 200;
    font-size: 20px;
}
.logo-mk img {
    margin-top: -900px;
    margin-left: 780px;
}
