* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.OurAcademy h2 {
    text-align: center;
    margin-top: 10px;
}

.color {
    color: #4B9895;
}

.Language-cont button {
    border-radius: 110px;
    background-color: #C5F2CBA6;
    border: none;
    display: grid;
    grid-template-columns: repeat(6, auto);
}

.Language {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    margin-left:100px;
    margin-top: 30px;
}
.yes button{
    width:335px ;
    height:78px ;
    margin-left: 470px;
    margin-top: 20px;
    border-radius:60px ;
    background-color: #5FACA9;
    color: white;
    border: none;
}
.Language-cont p{
    width:250px ;
    height:46px ;
    font-size: 14.8px;
    margin-left: 8px;
    margin-top: 5px;
}